<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button
      routerLink="/"
      class="btn btn-link"
    >На главную</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>00.00.0000</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, fugit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, fugit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, fugit.</p>
  </div>
</div>
